<div class="panel panel-info animated fadeIn">
  <div class="panel-heading">
    <h3 class="panel-title">Meus Pedidos</h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class=" col-md-12 col-lg-12 ">

        <table *ngIf="auth.user | async as user" id="tableOrders" class="table table-hover table-striped ">
          <tbody>
            <tr *ngFor="let order of user.orders; let i = index" class="order">
              <td class="order-left">
                <h4>#{{i+1}}</h4>
                <h4>Status:</h4>
                <span class="label" [class.label-warning]="(order.status == 1)" [class.label-info]="(order.status == 2)" [class.label-success]="(order.status == 3)"
                  [class.label-danger]="(order.status == 4)">
                  {{(order.status == 1 ? 'Processando' : (order.status == 2 ? 'Em trânsito' : (order.status == 3 ? 'Entregue': 'Cancelado')))}}
                </span>
              </td>
              <td class="order-body">
                <h4 class="order-heading font-yellow text-bold"> {{order.itens}}</h4>
                <span>
                  <strong>Endereço de Entrega:</strong>
                  {{order.address}}
                </span>
                <br>
                <span>
                  <strong>Total Pago:</strong>
                  {{order.paidValue}}
                </span>
                <br>
                <span class="hidden-xs">
                  <strong>Método de Pagamento:</strong>
                  {{order.paymentMethod}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>

</div>