<div class="panel panel-info animated fadeIn">
  <div class="panel-heading">
    <h3 class="panel-title">Meus Pedidos</h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class=" col-md-12 col-lg-12 ">
        <div [style.display]="!noOrder ? 'none' : 'inherit'" class="help-block alert alert-danger text-center" role="alert">
          <span>Nenhum pedido encontrado...</span>
        </div>
        <table *ngIf="auth.user | async as user" id="tableOrders" class="table table-hover table-striped ">
          <tbody>
            <tr *ngFor="let order of user.orders; let i = index" class="order">
              <span *ngIf="hasOrder()"> </span>
              <td class="order-left">
                <h4>#{{order.id}}</h4>
                <h4>Status:</h4>
                <span class="label" [class.label-warning]="(order.status == 1)" [class.label-info]="(order.status == 2)" [class.label-success]="(order.status == 3)"
                  [class.label-default]="(order.status == 4)" [class.label-danger]="(order.status == 5)">
                  {{(order.status == 1 ? 'Processando' : (order.status == 2 ? 'Confirmado' : (order.status == 3 ? 'Em trânsito': (order.status
                  == 4 ? 'Entregue': 'Cancelado'))))}}
                </span>

                <button *ngIf="(order.status != 5 && order.status != 4)" class="btn btn-link cancelOrder" (click)="onCancelOrder(order)">
                  Cancelar Pedido
                </button>
              </td>
              <td class="order-body">
                <h4 class="order-heading font-yellow text-bold"> {{order.itens}}</h4>
                <span>
                  <strong>Endereço de Entrega:</strong>
                  {{order.address}}
                </span>
                <br>
                <span>
                  <strong>Valor Total:</strong>
                  R$ {{order.paidValue}}
                </span>
                <br>
                <span>
                  <strong>Data do Pedido:</strong>
                  {{order.date | date:'dd/MM/yyyy'}}
                </span>
                <br>
                <span class="hidden-xs">
                  <strong>Método de Pagamento:</strong>
                  {{order.paymentMethod}}
                </span>
                <br>
                <span class="hidden-xs">
                  <strong>Método de Entrega:</strong>
                  {{order.deliveryOption}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>

</div>
<modal #myModal>
  <modal-header>
    <h1>Cancelar Pedido</h1>
  </modal-header>
  <modal-content>
    <h4>
      Você tem certeza em que deseja cancelar este pedido?
    </h4>
  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-default" (click)="myModal.close();cancelOrder(false);">
      <strong>VOLTAR</strong>
    </button>
    <button type="button" class="btn btn-danger" (click)="myModal.close();cancelOrder(true);">
      <strong>CONFIRMAR</strong>
    </button>
  </modal-footer>
</modal>