<div class="panel panel-info animated fadeIn">
  <div class="panel-heading">
    <h3 class="panel-title">Meus Pedidos</h3>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class=" col-md-12 col-lg-12 ">

        <table id="tableOrders" class="table table-hover table-striped ">
          <tbody>
              <tr class="order">
                  <td class="order-left">
                    <h4>#102</h4>
                    <h4>Status:</h4>
                    <span class="label label-info">Em trânsito</span>
                  </td>
                  <td class="order-body">
                    <h4 class="order-heading font-yellow text-bold"> Linguiça (1kg), Banha de Porco (2un)</h4>
                    <span>
                      <strong>Endereço de Entrega:</strong>
                      Rua X, Qd. 71 - St. A, Gyn - GO
                    </span>
                    <br>
                    <span>
                      <strong>Total Pago:</strong>
                      R$ 9.450,00
                    </span>
                    <br>
                    <span class="hidden-xs">
                      <strong>Método de Pagamento:</strong>
                      Cartão de Crédito
                    </span>
                  </td>
                </tr>
            <tr class="order">
              <td class="order-left">
                <h4>#102</h4>
                <h4>Status:</h4>
                <span class="label label-success">Entregue</span>
              </td>
              <td class="order-body">
                <h4 class="order-heading font-yellow text-bold"> Linguiça (3kg)</h4>
                <span>
                  <strong>Endereço de Entrega:</strong>
                  Rua X, Qd. 71 - St. A, Gyn - GO
                </span>
                <br>
                <span>
                  <strong>Total Pago:</strong>
                  R$ 19,00
                </span>
                <br>
                <span class="hidden-xs">
                  <strong>Método de Pagamento:</strong>
                  Dinheiro
                </span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="panel-footer">
  </div>

</div>