<div class="checkout">
  <div class="container-fluid bg-paper  animated fadeInDown">

    <div class="first-container"></div>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">Finalizar Compra</h2>
      <br>
      <div class="row">
        <div class="col-xs-12 text-center">
          <label class="alert alert-danger alert-checkout ">
            AVISO: Atualmente, as entregas serão feitas apenas as sextas feiras, e somente nas cidades de Goiânia, Aparecida de Goiânia
            e Piracanjuba.
          </label>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h4>Endereço de Entrega</h4>
          <p [class.alert]="!validInfo" [class.alert-danger]="!validInfo">{{adressLine}}
            <span *ngIf="!validInfo">
              <a [routerLink]="['/minha-conta', 'enderecos']">Clique aqui</a> para cadastrar um novo endereço!</span>
          </p>
          <form *ngIf='showCitySelect' [formGroup]="confirmCityForm">
            <p class="alert alert-warning">* CONFIRME A CIDADE</p>
            <select formControlName="city_option" class="city_option form-control">
              <option value="">Selecione...</option>
              <option value="goiania">Goiânia</option>
              <option value="apgoiania">Aparecida de Goiânia</option>
              <option value="piracanjuba">Piracanjuba</option>
              <option value="outra">Outra cidade</option>
            </select>

          </form>
        </div>
        <div class="col-xs-12 col-sm-3">
          <h4>Contato para Entrega</h4>
          <p [class.alert]="!validInfo" [class.alert-danger]="!validInfo">{{contactName}}</p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <form [formGroup]="checkoutForm">
            <h4>Metodo de Pagamento</h4>
            <select formControlName="payment_option" class="form-control">
              <option value="Dinheiro">Dinheiro - À Vista</option>
              <option value="Credito">Cartão - Crédito (em até 2x)</option>
              <option value="Debito">Cartão - Débito</option>
              <option value="Boleto">Boleto - Negociável</option>
            </select>
            <label class="warn-payment">* O pagamento será feito no local de entrega.</label>
          </form>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Produtos Selecionados</h4>
          <div class="row" *ngFor="let item of cartItems">
            <div class="col-xs-6">
              {{item.product.name}}
            </div>
            <div class="col-xs-6">
              R$ {{item.product.price | number:'1.2-2'}} x {{item.quantity}} ({{item.product.measure}}) = R$ {{item.totalCost | number:'1.2-2'}}
            </div>
          </div>
          <br>
          <hr>
          <div class="row total-itens">
            <div class="col-xs-6 col-xs-offset-6">
              Total: R$ {{(cart | async).itemsTotal | number:'1.2-2'}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <h4>Opções de Entrega</h4>

          <div class="row delivery-list" *ngFor="let option of deliveryOptions | async">
            <div class="col-xs-1">
              <input class="delivery_option_div" type="radio" name="delivery_option" id="{{option.name}}" [checked]="option.id === (cart | async).deliveryOptionId"
                (click)="setDeliveryOption(option)">
            </div>
            <div class="col-xs-9">
              <label class="delivery_option_div" for="{{option.name}}" (click)="setDeliveryOption(option)">{{option.name}}</label>
            </div>
            <div class="col-xs-2">
              <p>R$ {{option.price | number:'1.2-2'}}</p>
            </div>
            <div class="col-xs-12">
              <p>{{option.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-5">
          <a routerLink="/carrinho" class="btn btn-default">
            <i class="fa fa-angle-left"></i>
            <strong>VOLTAR AO CARRINHO</strong>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 ">
          <h4 class="pull-right">
            Total do Pedido:&nbsp;
            <span class="order-total">R$ {{(cart | async).grossTotal | number:'1.2-2'}}</span>
          </h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <a class="btn btn-primary pull-right" (click)="openModal();">
            <i class="fa fa-check fa-lg pull-right" style="margin-top: 3px;"></i>
            <strong>CONCLUIR PEDIDO</strong>
          </a>
        </div>
      </div>

    </div>
    <div class="last-container"></div>
  </div>

  <div class="row">
    <modal #myModal>
      <modal-header>
        <h1>Informações Importantes</h1>
      </modal-header>
      <modal-content>
        <div *ngIf="validInfo">
          <h4 style="font-family: 'Frederick-Regular' ;">
            <strong>
              * Atualmente, as entregas serão feitas apenas as sextas feiras, e somente nas cidades de Goiânia, Aparecida de Goiânia e
              Piracanjuba.
            </strong>
          </h4>
          <h4 style="font-family: 'Frederick-Regular' ;">
            <strong>
              ** O pagamento será feito no local de entrega.
            </strong>
          </h4>
          <h4 style="font-family: 'Frederick-Regular' ;">
            <strong>
              Caso tenha alguma dúvida, entre em contato conosco clicando
              <a routerLink="/contato">aqui</a>.
            </strong>
          </h4>
        </div>
        <div *ngIf="!validInfo">
          <h4 style="font-family: 'Frederick-Regular' ;">
            <strong>
              Você não cadastrou nenhum endereço, vá para a página
              <a [routerLink]="['/minha-conta', 'enderecos']">Minha Conta</a> e cadastre seu endereço na aba Endereço.

            </strong>
          </h4>
        </div>

      </modal-content>
      <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal.close();">
          <strong>CANCELAR</strong>
        </button>
        <button *ngIf="validInfo" type="button" class="btn btn-danger" (click)="myModal.close();" routerLink="/checkout-sucesso">
          <strong>CONFIRMAR COMPRA</strong>
        </button>
        <button *ngIf="!validInfo" type="button" class="btn btn-danger" (click)="myModal.close();" [routerLink]="['/minha-conta', 'enderecos']">
          <strong>EDITAR MEU ENDEREÇO</strong>
        </button>
      </modal-footer>
    </modal>
  </div>

</div>