<div class="panel panel-info animated fadeIn">
  <div class="panel-heading">
    <h3 class="panel-title">Meus Endereços</h3>
    <a data-original-title="Novo" data-toggle="tooltip" type="button" class="btn btn-success pull-right">
      <i class="fa fa-plus-square-o"></i>&nbsp; Novo Endereço
    </a>
  </div>
  <div class="panel-body">
    <div class="row">

      <div class=" col-md-12 col-lg-12 ">
        <table class="table table-user-information">
          <thead>
            <td style="width:40%; color: #af272d;">Endereço #1</td>
            <td style="width:60%"></td>
          </thead>
          <tbody>
            <tr>
              <td>Nome do Destinatário:</td>
              <td>Antony</td>
            </tr>
            <tr>
              <td>Tipo endereço:</td>
              <td>Apartamento</td>
            </tr>
            <tr>
              <td>CEP:</td>
              <td>0112241988</td>
            </tr>
            <tr>
              <td>Endereço:</td>
              <td>Rua x</td>
            </tr>
            <tr>
              <td>Número:</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Complemento:</td>
              <td>Ap 123 </td>
            </tr>
            <tr>
              <td>Referência:</td>
              <td>lado bar</td>
            </tr>
            <tr>
              <td>Bairro:</td>
              <td>Setor X</td>
            </tr>
            <tr>
              <td>Cidade:</td>
              <td>Gyn</td>
            </tr>
            <tr>
              <td>Estado:</td>
              <td>Goiás</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">

    <a data-original-title="Editar" data-toggle="tooltip" type="button" class="btn btn-warning">
      <i class="fa fa-edit"></i>&nbsp; Editar
    </a>

  </div>

</div>