<div id="not-found" class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <span class="glyphicon glyphicon-warning-sign logo animated tada"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Erro 404</h2>
      <h4>Esta página não pode ser encontrada!</h4>
      <br>
      <h5>Talvez você acessou algum
        <strong>endereço inexistente</strong>
        <br> ou a página em que queria acessar está
        <strong>em manutenção.</strong>
      </h5>
      <a routerLink="/contato">
        <button class="btn btn-default btn-lg">ENTRAR EM CONTATO</button>
      </a>
    </div>

  </div>
  <div class="container-fluid last">

  </div>
</div>