<div class="loja">
  <div class="jumbotron">
    <div class="container text-center">
      <h1 class="animated zoomIn">Loja Online</h1>
      <p class="animated zoomIn">Compre aqui nossos produtos e tenha tudo entregue no seu endereço!</p>
    </div>
  </div>
  <div class="main-content">

    <div class="container-fluid bg-paper">
      <!-- Container (Contact Section) -->
      <div class="container-fluid text-center top-text">
        <h3 class="margin">
          <strong>Informações Relevantes</strong>
        </h3>
        <p>Atualmente, as entregas serão feitas às sextas-feiras e somente serão feitas nas cidades de Goiânia, Aparecida de
          Goiânia e Piracanjuba.
          <br>As entregas serão feitas em até 4 dias úteis após a confirmação do pedido e somente nas cidades de Piracanjuba,
          Goiânia e Aparecida de Goiânia para compras acima de R$ 200,00. As demais regiões os produtos deverão ser retirados
          em nossa loja ou combinados.
        </p>
      </div>
      <div class="first-container"></div>
      <div class="container-fluid bg-grey">
        <div class="container-fluid tipos">
          <div align="center" class="fond">
            <div style="width:100%;">
              <div class="row">
                <app-category *ngFor="let cat of categories; let i = index" [cat]="cat" [id]="i"></app-category>
              </div>
            </div>
          </div>
          <hr>
          <router-outlet></router-outlet>

        </div>
      </div>
      <div class="last-container"></div>
    </div>
  </div>
</div>