<div class="about">
    <div class="jumbotron">
        <div class="container text-center animated fadeIn">
            <h1 class="animated zoomIn">Sobre a Empresa</h1>
            <p class="animated zoomIn">Saiba mais sobre a empresa e sua história!</p>
        </div>
    </div>

    <div class="main-content">
        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4 col-xs-12 first-image">
                    <img src="http://placehold.it/350x300" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-8">
                    <h2>
                        <strong>NOSSA HISTÓRIA</strong>
                    </h2>
                    <br>
                    <h4>
                        <strong>
                            Começamos com um Empório especializado no comércio de aves e derivados.
                        </strong>
                    </h4>

                    <h4>
                        <strong>Com a diversificação do mercado, resolvemos expandir e ingressamos na suinocultura, optando pela
                            criação de porcos caipira.
                        </strong>
                    </h4>
                    <br>
                    <h4>
                        <strong>Assim, graças ao bom desempenho de nosso trabalho e a grande procura por nossos produtos, deu início
                            à Linguiças Piracanjuba, onde higiêne e qualidade é a nossa marca. </strong>
                    </h4>
                    <br>
                    <h4>
                        <strong>Uma marca criada por nossa família para servir a sua.</strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="first-container"></div>
        <div class="container-fluid bg-3 text-center">
            <h3 class="margin">
                <strong>OPINIÃO DOS CLIENTES</strong>
            </h3>
            <br>
            <div class="row">
                <div class="col-sm-12 opinion">
                    <img src="/assets/images/background/avaliacoes.png" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
            </div>
            <br>
            <br>
            <h3 class="margin">
                <strong>NOSSOS SERVIÇOS & QUALIDADES</strong>
            </h3>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p>Atendimento ao público e um ótimo cardápio.</p>
                    <img src="http://placehold.it/350x300" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <p>Produtos derivados e as melhores linguiças da região</p>
                    <img src="http://placehold.it/350x300" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <p>E nossa mais última novidade em que você está acessando agora mesmo: A Loja Online.</p>
                    <img src="http://placehold.it/350x300" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
            </div>
        </div>
    </div>
    <div class="last-container"></div>
</div>