<div class="about">
    <div class="jumbotron">
        <div class="container text-center animated fadeIn">
            <h1 class="animated zoomIn">Sobre a Empresa</h1>
            <p class="animated zoomIn">Saiba mais sobre a empresa e sua história!</p>
        </div>
    </div>

    <div class="main-content">
        <div class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4 col-xs-12 first-image">
                    <img src="/assets/images/background/350x300.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-8">
                    <h2>
                        <strong>NOSSA HISTÓRIA</strong>
                    </h2>
                    <br>
                    <h4>
                        <strong>Our mission lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</strong>
                    </h4>
                    <br>
                    <p>
                        <strong>Our vision Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="first-container"></div>
        <div class="container-fluid bg-3 text-center">
            <h3 class="margin">
                <strong>OPINIÃO DOS CLIENTES</strong>
            </h3>
            <br>
            <div class="row">
                <div class="col-sm-12 opinion">
                    <img src="/assets/images/background/avaliacoes.png" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
            </div>
            <br>
            <br>
            <h3 class="margin">
                <strong>NOSSOS SERVIÇOS/QUALIDADES</strong>
            </h3>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                    <img src="/assets/images/background/350x300.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                    <img src="/assets/images/background/350x300.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
                <div class="col-sm-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua.</p>
                    <img src="/assets/images/background/350x300.jpg" class="img-responsive margin" style="width:100%" alt="Image">
                </div>
            </div>
        </div>
        <div class="last-container"></div>
    </div>
</div>