h4{
    color:rgba(51, 51, 51, 0.884);
    font-weight: 600;
}
p{
    font-size: 14px;
    margin-top: 5px;
}
.price{
    font-size: 23px;
    margin: 0 auto;
    color: #333;
}
.price-rest{
    font-size: 20px;
}
.price-currency{
    font-size: 20px;
    color: rgba(51, 51, 51, 0.884);
}
.measure {
    font-size: 16px;
    color: rgba(51, 51, 51, 0.884);
}

.right{
    float:right;
    
}
.thumbnail{
    overflow: hidden;
    opacity:0.85;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
    padding: 10px 10px 10px 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.395);
}
.thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}
.line{
    margin-bottom: 5px;
}

.btn{
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn-buy{
    margin-top: 10px;
    font-size: 100% ;
    color: white ;    
    background:#9d1e2f ;
    opacity:0.90;
}
.btn-to-cart{
    margin-top: 10px;
    padding: 8px;
    font-size: 90% ;
    color: white ;    
    background:#922836;
    opacity:0.90;
}
.btn-quantity{
    font-weight: bold;
}

.btn:hover{
    opacity:1.00;
    box-shadow: 1px 2px 3px rgba(0,0,0,.625);
    font-weight: bold;
}
.prod-desc{
    min-height: 90px;
}

img {
    border: 1px inset #e9e9e9;
      -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.thumbnail:hover img  {
    -moz-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }

