<div *ngIf="product.categoryPath == category" class=" animated fadeIn col-xs-12  col-sm-6 col-md-6 col-lg-4">
    <span class="thumbnail">
        <img src="{{product.img}}" alt="Imagem do produto">
        <h4>{{product.name}}</h4>
        <p>{{product.description}}</p>
        <hr class="line">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class=" col-xs-12 col-sm-6">
                        <button class="btn btn-sm btn-info fa fa-minus" (click)="removeItem()"></button>
                        <label class="btn btn-quantity">{{quantity}}</label>
                        <button class="btn btn-sm btn-success fa fa-plus" (click)="addItem()"></button>
                    </div>
                    <div class=" col-xs-12 col-sm-6">
                        <p class="price right">
                            <label class="price-currency">R$ {{product.price | number:'1.2-2'}} / {{product.measure}}</label>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class=" col-xs-12 col-sm-7 ">
                        <button class="btn btn-block btn-to-cart" (click)="addToCart(false)">
                            ADC. AO CARRINHO
                        </button>
                    </div>
                    <div class=" col-xs-12 col-sm-5 ">
                        <button class="btn btn-block btn-buy" (click)="addToCart(true)">
                            COMPRAR
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </span>
</div>