<div class="cart-table">
  <div class="container-fluid bg-paper  animated fadeInDown">

    <div class="first-container"></div>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">Carrinho de Compras</h2>
      <hr>
      <br>
      <div class="emptyCart" *ngIf="vazio">
        <label class=" alert alert-danger">{{message}}</label>
        <hr>
        <a routerLink="/loja" class="btn btn-warning">
          <i class="fa fa-angle-left"></i> Ir para a Loja
        </a>
        <td>
          <a routerLink="/checkout" class="btn btn-success btn-block">FINALIZAR
            <i class="fa fa-angle-right"></i>
          </a>
        </td>
      </div>
      <div>
        <span *ngIf="isLoading" class="help-block alert alert-info text-center" role="alert">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </div>
      <table *ngIf="itemCount > 0" id="cart" class="table table-hover table-condensed">
        <thead>
          <tr>
            <th style="width:50%">Produto</th>
            <th style="width:10%">Preço</th>
            <th style="width:8%">Quantidade</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <!-- produto -->
          <tr *ngFor="let item of cartItems">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs">
                  <img src="{{item.product.img}}" alt="..." class="img-responsive" />
                </div>
                <div class="col-sm-10">
                  <h4 class="nomargin">{{item.product.name}}</h4>
                  <p>{{item.product.description}}</p>
                </div>
              </div>
            </td>
            <td data-th="Price">
              R$ {{item.product.price | number:'1.2-2'}} / {{item.product.measure}}
            </td>
            <td data-th="Quantity">
              <button class="btn btn-sm fa fa-minus" (click)="removeProductFromCart(item.product, item.quantity)" [attr.disabled]="item.quantity === 1 ? true : null"></button>
              <button class="btn btn-sm fa fa-plus" (click)="addProductToCart(item.product)"></button>

              <input type="text" readonly class="quantity form-control text-center" [value]="item.quantity">
            </td>
            <td data-th="Subtotal" class="text-center">R$ {{item.totalCost | number:'1.2-2'}}</td>
            <td class="actions" data-th="">

              <button class="btn btn-danger" (click)="myModal.open(); setProductToBeRemoved(item.product);">
                <i class="fa fa-trash-o"></i> Remover
              </button>
            </td>
          </tr>
          <!-- fim produto -->
        </tbody>
        <tfoot>
          <tr class="visible-xs">
            <td class="total-rs text-center">
              <strong>
                <span class="order-total">Total ({{itemCount}} itens):</span> R$ {{(cart | async).itemsTotal | number:'1.2-2'}}</strong>
            </td>
          </tr>
          <tr>
            <td>
              <a routerLink="/loja" class="btn btn-default">
                <i class="fa fa-angle-left"></i>
                <strong>CONTINUAR COMPRANDO</strong>
              </a>
            </td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="total-rs hidden-xs text-center">
              <strong>
                <span class="order-total">Total ({{itemCount}} itens):</span> R$ {{(cart | async).itemsTotal | number:'1.2-2'}}</strong>
            </td>
            <td>
              <a (click)="toCheckout();" class="btn btn-success btn-block" [attr.disabled]="itemCount === 0 ? true : null">FINALIZAR
                <i class="fa fa-angle-right"></i>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
      <div *ngIf="itemCount <= 0">
        <div class="alert alert-danger">
          <p>Carrinho vazio!</p>
        </div>
        <a routerLink="/loja" class="btn btn-default">
          <i class="fa fa-angle-left fa-lg"></i>
          <strong>IR PARA A LOJA</strong>
        </a>
      </div>
    </div>
    <div class="last-container"></div>
  </div>
  <div class="row">
    <modal #myModal>
      <modal-header>
        <h1>Remover do Carrinho</h1>
      </modal-header>
      <modal-content>
        <h4>
          <strong>Você tem certeza que deseja remover este produto?</strong>
        </h4>
      </modal-content>
      <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal.close();">
          <strong>CANCELAR</strong>
        </button>
        <button type="button" class="btn btn-danger" (click)="removeAllProductFromCart();myModal.close();">
          <strong>CONFIRMAR</strong>
        </button>
      </modal-footer>
    </modal>
    <modal #myModal2>
      <modal-header>
        <h1>Usuário não está logado!</h1>
      </modal-header>
      <modal-content>
        <h4>
          <strong>Para continuar, você precisa fazer login.</strong>
        </h4>
      </modal-content>
      <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal2.close();">
          <strong>CANCELAR</strong>
        </button>
        <button type="button" class="btn btn-primary" routerLink="/entrar">
          <strong>FAZER LOGIN</strong>
        </button>
      </modal-footer>
    </modal>
  </div>

</div>