<div class="cart-table">
  <div class="container-fluid bg-paper  animated fadeInDown">

    <div class="first-container"></div>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">Carrinho de Compras</h2>
      <hr>
      <br>
      <div class="emptyCart" *ngIf="vazio">
        <label class=" alert alert-danger">{{message}}</label>
        <hr>
        <a routerLink="/loja" class="btn btn-warning">
          <i class="fa fa-angle-left"></i> Ir para a Loja
        </a>
        <td>
          <a (click)="getCartOn()" class="btn btn-success btn-block">FINALIZAR
            <i class="fa fa-angle-right"></i>
          </a>
        </td>
      </div>
      <div>
        <span *ngIf="isLoading" class="help-block alert alert-info text-center" role="alert">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </span>
      </div>
      <table id="cart" class="table table-hover table-condensed" *ngIf="!vazio && !isLoading">
        <thead>
          <tr>
            <th style="width:50%">Produto</th>
            <th style="width:10%">Preço</th>
            <th style="width:8%">Quantidade</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody *ngIf="cart != undefined">
          <!-- produto -->
          <tr  *ngFor="let prod of cart[0].itens; let i = index">
            <td data-th="Product">
              <div class="row">
                <div class="col-sm-2 hidden-xs">
                  <img src="{{prod.product.img}}" alt="..." class="img-responsive" />
                </div>
                <div class="col-sm-10">
                  <h4 class="nomargin">{{prod.product.name}}</h4>
                  <p>{{prod.product.description}}</p>
                </div>
              </div>
            </td>
            <td data-th="Price">
              R$ {{prod.product.value}},{{(prod.product.value2 < 10 ? ( '0' + prod.product.value2) : prod.product.value2)}} / {{prod.product.measure}}</td>
                <td data-th="Quantity">
                    <button class="btn btn-sm fa fa-minus" (click)="(prod.quantity > 1 ? prod.quantity=prod.quantity-1 : prod.quantity=prod.quantity); calculateTotal();"></button>
                    <button class="btn btn-sm fa fa-plus" (click)="prod.quantity=prod.quantity+1; calculateTotal()"></button>

                    <input type="text" readonly class="quantity form-control text-center" [value]="prod.quantity">
                </td>
                <td data-th="Subtotal" class="text-center">R$ {{((prod.product.value + (prod.product.value2 / 100)) * prod.quantity).toFixed(2)}}</td>
                <td class="actions" data-th="">

                  <button class="btn btn-danger" (click)="myModal.open()">
                    <i class="fa fa-trash-o"></i> Remover
                  </button>
                </td>
          </tr>
          <!-- fim produto -->
        </tbody>
        <tfoot>
          <tr class="visible-xs">
            <td class="total-rs text-center">
              <strong >TOTAL: R$ {{total}}</strong>
            </td>
          </tr>
          <tr>
            <td>
              <a routerLink="/loja" class="btn btn-default">
                <i class="fa fa-angle-left"></i> <strong>CONTINUAR COMPRANDO</strong>
              </a>
            </td>
            <td colspan="2" class="hidden-xs"></td>
            <td class="total-rs hidden-xs text-center">
              <strong>TOTAL: R$ {{total}}</strong>
            </td>
            <td>
              <a (click)="getCartOn()" class="btn btn-success btn-block">FINALIZAR
                <i class="fa fa-angle-right"></i>
              </a>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="last-container"></div>
  </div>

  <div class="row">
    <modal #myModal >
      <modal-header >
        <h1>Remover do Carrinho</h1>
      </modal-header>
      <modal-content>
        <h4><strong>Você tem certeza que deseja remover este produto?</strong></h4>
      </modal-content>
      <modal-footer>
        <button type="button" class="btn btn-default" (click)="myModal.close();"><strong>Cancelar</strong></button>
        <button type="button" class="btn btn-danger" (click)="onRemoveItem(1);myModal.close();"><strong>Confirmar</strong></button>
      </modal-footer>
    </modal>
  </div>
  
</div>