<div class="checkout-ok">
  <div class="container-fluid bg-paper  animated fadeInDown">
    <div class="first-container"></div>
    <div class="container-fluid bg-grey">
      <h2 class="text-center">Compra Realizada com Sucesso!</h2>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <h3>
            <strong> Seu pedido foi realizado com sucesso, acesse
              <a [routerLink]="['/minha-conta', 'pedidos']">Minha Conta</a> e fique por dentro do status do seu pedido!
            </strong>
          </h3>
        </div>
      </div>

    </div>
    <div class="last-container"></div>
  </div>
</div>